<div class="p-2 w-100">
    <div class="my-3">
        <div class="col">
           <div class="d-flex align-items-center ms-1">
             <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />
                <div>
                  <p class="mb-0 fw-bold">Hack Academy</p>
                  <p class="mb-0 font-grey">@HackAcademyDev</p>
                </div>
                <a href="#" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</a>
            </div>
        </div>     
    </div>      
</div>
    