<div id="main-navbar">
  <nav>
    <ul id="nav-icons">
      <li><img src="../img/logoHome.svg" alt="" /></li>
      <li><img src="../img/homeIcon.svg" alt="" /><span>Home</span></li>
      <li><img src="../img/userIcon.svg" alt="" /><span>Profile</span></li>
      <li id="tweet-btn"><img src="../img/createTweet.svg" alt="" /><span>Tweet</span></li>
    </ul>
  </nav>
</div>
