<div class="card border-0 px-2 card-css">
  <ul class="list-group list-group-flush container">
    <li class="p-3"><h4 class="fw-bolder">Who to follow</h4></li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <svg
          width="40"
          height="40"
          viewBox="0 0 25 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="me-3 p-1 border rounded-pill"
          style="background-color: DBDBDB"
        >
          <path
            d="M18.2481 13.5705C16.7991 15.2561 14.5284 15.4848 12.5002 15.4848C10.4719 15.4848 8.20121 15.2577 6.75226 13.5705C5.53382 12.1531 5.13865 9.96145 5.5458 6.87974C6.1146 2.57114 8.71463 0 12.5002 0C16.2857 0 18.8857 2.57114 19.4545 6.8767C19.8617 9.96146 19.4665 12.1531 18.2481 13.5705Z"
            fill="#647788"
          />
          <path
            d="M12.5002 17.6642C18.4846 17.6642 23.5813 21.4196 24.8941 26.7935H24.8926C25.1515 27.8497 24.9375 28.9272 24.3028 29.7502C23.6921 30.5428 22.7461 31 21.7088 31H3.29154C2.25422 31 1.30822 30.5428 0.697501 29.7502C0.0643334 28.9272 -0.151212 27.8482 0.106246 26.7935C1.41898 21.4196 6.51576 17.6642 12.5002 17.6642Z"
            fill="#647788"
          />
        </svg>

        <div>
          <p class="mb-0 fw-bold">Hack Academy</p>
          <p class="mb-0 font-grey">@HackAcademyDev</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill fw-bolder btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <svg
          width="40"
          height="40"
          viewBox="0 0 25 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="me-3 p-1 border rounded-pill"
          style="background-color: DBDBDB"
        >
          <path
            d="M18.2481 13.5705C16.7991 15.2561 14.5284 15.4848 12.5002 15.4848C10.4719 15.4848 8.20121 15.2577 6.75226 13.5705C5.53382 12.1531 5.13865 9.96145 5.5458 6.87974C6.1146 2.57114 8.71463 0 12.5002 0C16.2857 0 18.8857 2.57114 19.4545 6.8767C19.8617 9.96146 19.4665 12.1531 18.2481 13.5705Z"
            fill="#647788"
          />
          <path
            d="M12.5002 17.6642C18.4846 17.6642 23.5813 21.4196 24.8941 26.7935H24.8926C25.1515 27.8497 24.9375 28.9272 24.3028 29.7502C23.6921 30.5428 22.7461 31 21.7088 31H3.29154C2.25422 31 1.30822 30.5428 0.697501 29.7502C0.0643334 28.9272 -0.151212 27.8482 0.106246 26.7935C1.41898 21.4196 6.51576 17.6642 12.5002 17.6642Z"
            fill="#647788"
          />
        </svg>

        <div>
          <p class="mb-0 fw-bold">JavaScript</p>
          <p class="mb-0 font-grey">@JavaScript</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill fw-bolder btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <svg
          width="40"
          height="40"
          viewBox="0 0 25 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="me-3 p-1 border rounded-pill"
          style="background-color: DBDBDB"
        >
          <path
            d="M18.2481 13.5705C16.7991 15.2561 14.5284 15.4848 12.5002 15.4848C10.4719 15.4848 8.20121 15.2577 6.75226 13.5705C5.53382 12.1531 5.13865 9.96145 5.5458 6.87974C6.1146 2.57114 8.71463 0 12.5002 0C16.2857 0 18.8857 2.57114 19.4545 6.8767C19.8617 9.96146 19.4665 12.1531 18.2481 13.5705Z"
            fill="#647788"
          />
          <path
            d="M12.5002 17.6642C18.4846 17.6642 23.5813 21.4196 24.8941 26.7935H24.8926C25.1515 27.8497 24.9375 28.9272 24.3028 29.7502C23.6921 30.5428 22.7461 31 21.7088 31H3.29154C2.25422 31 1.30822 30.5428 0.697501 29.7502C0.0643334 28.9272 -0.151212 27.8482 0.106246 26.7935C1.41898 21.4196 6.51576 17.6642 12.5002 17.6642Z"
            fill="#647788"
          />
        </svg>

        <div>
          <p class="mb-0 fw-bold">MongoDB</p>
          <p class="mb-0 font-grey">@MongoDB</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill fw-bolder btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <svg
          width="40"
          height="40"
          viewBox="0 0 25 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="me-3 p-1 border rounded-pill"
          style="background-color: DBDBDB"
        >
          <path
            d="M18.2481 13.5705C16.7991 15.2561 14.5284 15.4848 12.5002 15.4848C10.4719 15.4848 8.20121 15.2577 6.75226 13.5705C5.53382 12.1531 5.13865 9.96145 5.5458 6.87974C6.1146 2.57114 8.71463 0 12.5002 0C16.2857 0 18.8857 2.57114 19.4545 6.8767C19.8617 9.96146 19.4665 12.1531 18.2481 13.5705Z"
            fill="#647788"
          />
          <path
            d="M12.5002 17.6642C18.4846 17.6642 23.5813 21.4196 24.8941 26.7935H24.8926C25.1515 27.8497 24.9375 28.9272 24.3028 29.7502C23.6921 30.5428 22.7461 31 21.7088 31H3.29154C2.25422 31 1.30822 30.5428 0.697501 29.7502C0.0643334 28.9272 -0.151212 27.8482 0.106246 26.7935C1.41898 21.4196 6.51576 17.6642 12.5002 17.6642Z"
            fill="#647788"
          />
        </svg>

        <div>
          <p class="mb-0 fw-bold">Node.js</p>
          <p class="mb-0 font-grey">@nodejs</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill fw-bolder btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <svg
          width="40"
          height="40"
          viewBox="0 0 25 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="me-3 p-1 border rounded-pill"
          style="background-color: DBDBDB"
        >
          <path
            d="M18.2481 13.5705C16.7991 15.2561 14.5284 15.4848 12.5002 15.4848C10.4719 15.4848 8.20121 15.2577 6.75226 13.5705C5.53382 12.1531 5.13865 9.96145 5.5458 6.87974C6.1146 2.57114 8.71463 0 12.5002 0C16.2857 0 18.8857 2.57114 19.4545 6.8767C19.8617 9.96146 19.4665 12.1531 18.2481 13.5705Z"
            fill="#647788"
          />
          <path
            d="M12.5002 17.6642C18.4846 17.6642 23.5813 21.4196 24.8941 26.7935H24.8926C25.1515 27.8497 24.9375 28.9272 24.3028 29.7502C23.6921 30.5428 22.7461 31 21.7088 31H3.29154C2.25422 31 1.30822 30.5428 0.697501 29.7502C0.0643334 28.9272 -0.151212 27.8482 0.106246 26.7935C1.41898 21.4196 6.51576 17.6642 12.5002 17.6642Z"
            fill="#647788"
          />
        </svg>

        <div>
          <p class="mb-0 fw-bold">MDN Web Docs</p>
          <p class="mb-0 font-grey">@MozDevNet</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill fw-bolder btn-skyblue">Follow</a>
      </div>
    </li>
  </ul>
</div>
