<div class="card border-0 px-2 card-css">
  <ul class="list-group list-group-flush container">
    <li class="p-3"><h4 class="fw-bolder">Who to follow</h4></li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />

        <div>
          <p class="mb-0 fw-bold">Hack Academy</p>
          <p class="mb-0 font-grey">@HackAcademyDev</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />

        <div>
          <p class="mb-0 fw-bold">JavaScript</p>
          <p class="mb-0 font-grey">@JavaScript</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />

        <div>
          <p class="mb-0 fw-bold">MongoDB</p>
          <p class="mb-0 font-grey">@MongoDB</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />

        <div>
          <p class="mb-0 fw-bold">Node.js</p>
          <p class="mb-0 font-grey">@nodejs</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</a>
      </div>
    </li>
    <li class="pb-2 ps-2">
      <div class="d-flex align-items-center ms-1">
        <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />

        <div>
          <p class="mb-0 fw-bold">MDN Web Docs</p>
          <p class="mb-0 font-grey">@MozDevNet</p>
        </div>

        <a href="#" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</a>
      </div>
    </li>
  </ul>
</div>
