<div class="border w-75 mb-3">
  <div class="my-3">
    <div class="container">
      <div class="row g-0">
        <div class="col-1 g-0">
          <div class="d-flex justify-content-center">
            <img src="img/avatar.svg" alt="" srcset="" />
          </div>
        </div>
        <div class="col">
          <h5 class="inline-b fw-semibold mb-1">Pepe Milanesa</h5>
          <p class="inline-b font-grey mb-1">@pepemilanesa · 6h</p>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis magnam, nobis eum fuga
            sunt labore. Eos tempora repudiandae distinctio, qui libero dicta error odio doloremque
            quaerat et reprehenderit, quidem nam?
          </p>
          <img src="img/heart.svg" alt="" srcset="" />
          <p class="ms-1 inline-b like-color m-0">8</p>
        </div>
      </div>
    </div>
  </div>
</div>
