<div class="border w-100">
  <div class="my-3">
    <div class="container">
      <div class="row g-0">
        <div class="col-2 g-0">
          <div class="d-flex justify-content-center">
            <img src="/img/avatar.svg" alt="" srcset="" />
          </div>
        </div>
        <div class="col">
          <h5 class="inline-b fw-semibold mb-1"><%=user.firstname%></h5>
          <p class="inline-b font-grey mb-1">@<%=user.username%></p>
          <p class="card-text"><%=tweet.content%></p>
          <div class="d-flex justify-content-between">
            <a href=""><img src="/img/heart.svg" alt="" srcset="" /></a>
            <p class="ms-1 inline-b like-color m-0 me-auto"><%=tweet.likes%></p>
            <a class="me-2" href=""><img src="/img/delete.svg" alt="" srcset="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
