.card-css {
  width: 22rem;
  background-color: #f7f9f9;
}

ul {
  list-style: none;
}

.font-grey {
  color: grey;
}

.btn-skyblue {
  color: aliceblue;
  background-color: #1d9bf0;
  transition: ease-in-out 0.2s;
  font-weight: 400;
}

.btn-skyblue:hover {
  color: aliceblue;
  background-color: #61b6ee;
}

.fontsize-grey {
  color: grey;
  font-size: 0.9rem;
}

.inline-b {
  display: inline-block;
}

.like-color {
  color: #f91894;
}
