.card-css{
    width: 22rem; 
    background-color: #f7f9f9
}

.font-grey{
    color: grey
}

.btn-skyblue{
    color: aliceblue;
    background-color: #1d9bf0
}

.fontsize-grey{
    color: grey;
    font-size: 0.9rem
}