/* Colocar aquí CSS "propio". */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background-color: white;
}

/* Navbar */

#main-navbar {
  height: 93vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logout-btn {
  background-color: #f0241d;
  width: 12vw;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-home-container {
}

#main-navbar a {
  color: black;
}

#nav-icons {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#main-navbar li {
  list-style: none;
  height: 3rem;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: ease-in-out 0.2s;
  padding: 0.6rem;
}

#main-navbar li:hover {
  background-color: #6f6f6f23;
  border-radius: 2rem;
  font-weight: 600;
}

#main-navbar svg {
  width: 1.5rem;
}

#main-navbar li span {
  display: flex;
  font-size: large;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

#main-navbar li:hover {
  cursor: pointer;
}

#tweet-btn {
  background-color: #1d9bf0;
  width: 12vw;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#tweet-btn img {
  display: none;
}

#tweet-btn span {
  background-color: #1d9bf0;
  width: 10vw;
  border-radius: 2rem;
  color: white;
}

@media (max-width: 1000px) {
  #main-navbar {
    width: 15vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-icons {
    padding: 0;
  }

  #main-navbar li {
    list-style: none;
    width: 6rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
  }

  #main-navbar li img {
    margin: 0;
  }

  #main-navbar li:hover {
    background-color: rgba(128, 128, 128, 0.217);
    cursor: pointer;
  }

  #main-navbar li span {
    display: none;
  }
  #tweet-btn img {
    display: flex;
  }

  #tweet-btn span {
    display: none;
  }
}

/* SIGN UP CSS */

.white {
  color: white;
}

.sign-form-body {
  background-color: #074874;
  height: 100vh;
  width: 100vw;
}

.sign-form-body > div {
  width: 60%;
}

.sign-up-form > input {
  margin-bottom: 1rem;
}

.blueSideCol {
  background-color: #1d9bf0;
}

.btn-twitter {
  background-color: #1d9bf0;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.user-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#like-icon {
  display: flex;
}

#like {
  transition: ease-in-out 0.1s;
 }
 
#like:active {
 transform: scale(1.3);
}


#like-icon span{
  margin-left: 1rem;
}

#comment-icon {
  margin-left: 1rem;
}

#photo-tweet {
  width: 2.5rem;
  height: 2.5rem;
}

#photo-tweet img {
  object-fit: contain;
  width: 100%;
  border-radius: 50%;
}

#tweet-home {
  margin-left: 1rem;
}

#unfollow-btn-class {
  background-color: white;
  border: solid 2px rgba(128, 128, 128, 0.392);
  color: rgba(128, 128, 128, 0.791);
  width: 90px;
  margin-top: 30px;
  position: absolute;
  bottom: -3rem;
  right: 1rem;
}

.unfollow-btn {
  background-color: white;
  border: solid 2px rgba(128, 128, 128, 0.392);
  color: rgba(128, 128, 128, 0.791);
  
  
  
}

