<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body class="sign-form-body d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col blueSideCol rounded-start white position-relative px-3 d-none d-md-block">
          <i class="bi bi-twitter fs-1"></i>
          <h2 class="fw-semibold fs-3 position-absolute bottom-0">
            Hi! Welcome to Twitter Clone 👋
          </h2>
        </div>
        <div class="col bg-white rounded-end user-container">
          <div class="container">
            <h1 class="mb-2 fw-semibold fs-2">Log In</h1>
            <p>Ready to start using Twitter?</p>
            <form action="" method="get" class="sign-up-form">
              <input type="email" class="form-control" placeholder="Email" />
              <input type="password" class="form-control" placeholder="Password" />
              <button type="submit" class="btn btn-twitter">Login</button>
              <span>Don't have an account? <a href="/sign-up">Sign up</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
