<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/styleProfile.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container" id="main-cont">
      <div class="bg-primary" id="blue-div"></div>
      <div class="white-div">
        <img src="" alt="imagen" id="photo-profile" />
        <button class="btn btn-primary mt-3" id="follow-btn">
          <a href="">Follow</a>
        </button>
      </div>
      <div class="white-div" id="bottom-div">
        <div>
          <h5 id="username">Leia Organa</h5>
          <p class="grey-letter">@princesaleia</p>
        </div>
        <div style="margin-left: auto">
          <p id="follows" class="grey-letter">
            <span class="number">19</span> Following <span class="number">123</span> Followers
          </p>
        </div>
      </div>
      <div style="width: 70%">
        <p id="tweets-handler">Tweets</p>
      </div>
      <div id="bottom-content">
        <div id="tweet-image"><img src="" alt="fede" /></div>
        <div id="tweet">
          <span class="fw-bold">Leia Organa </span
          ><span class="grey-letter fw-none">@princesaleia</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error doloribus accusantium
            pariatur corrupti soluta, minima quos quisquam laboriosam id fugit maxime beatae maiores
            rem ducimus minus odio tempore velit ad.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
