<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="col">
            <h1 class="my-4">Sign Up</h1>
            <p>Create and account and start using Twitter</p>
            <form action="" method="get">
              <input type="text" class="form-control" />
              <input type="text" class="form-control" />
              <input type="email" class="form-control" />
              <input type="text" class="form-control" />
              <input type="form" class="form-control" />
              <input type="password" class="form-control" />
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
